@import './variables.scss';

.embla {
	overflow: hidden;
	-webkit-mask-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 1) 10%,
		rgba(0, 0, 0, 1) 90%,
		rgba(0, 0, 0, 0) 100%
	);
}

.embla__container {
	backface-visibility: hidden;
	display: flex;
	touch-action: pan-y;
	height: 520px;
	gap: $margin;
}

.embla__slide {
	flex: 0 0 60%;
	position: relative;
	overflow: hidden;

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center center;
	}
}
