@import './variables.scss';

html,
body,
#root {
	height: 100%;
}

body {
	background-color: $black;
	background-image: $stars-background;
	background-attachment: fixed;
	background-repeat: repeat;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: $yellow;
	font-weight: 900;
	margin: 0;
}

#sky {
	width: 100vw;
	height: 100vh;
	z-index: -1;
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#shootingstars {
	margin: 0;
	z-index: -1;
	padding: 0;
	width: 150vh;
	height: 100vw;
	position: fixed;
	overflow: hidden;
	transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%)) rotate(120deg);
}

.wish {
	z-index: -1;
	height: 2px;
	top: 300px;
	width: 100px;
	margin: 0;
	opacity: 0;
	padding: 0;
	background-color: white;
	position: absolute;
	background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
	filter: drop-shadow(0 0 6px white);
	overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	padding: 0 $margin 0 $margin;

	> *:not(header):not(footer) {
		flex: 1 0 auto;
	}
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: calc($margin / 2) $margin;
	padding: calc($margin / 2) $margin;

	position: fixed;
	width: calc(100% - 2 * $margin);
	z-index: 1;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, $black, rgba(0, 0, 0, 0.5) 80%, transparent);

	nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: calc($margin / 2) $margin;

		a {
			color: $yellow;
			text-decoration: none;
			font-size: 1.5rem;
			cursor: pointer;

			transition: all 100ms ease-in-out;

			&:hover {
				transform: scale(0.9);
			}
		}

		img {
			width: 2.5rem;
			margin: auto;
		}
	}

	form {
		width: clamp(200px, 100%, 500px);
	}
}

main {
	margin: calc(3rem + 3 * $margin) auto auto auto;
	display: flex;
	justify-content: center;
	max-width: 3000px;
}

.vortex-wrapper {
	height: 320px;
	width: min(320px, 100%);
}

.browse-page {
	> * {
		width: min(100%, 400px);

		img {
			height: 200px;
			object-fit: cover;
			object-position: top center;
		}

		p {
			font-size: 1.5rem;
		}

		button {
			position: absolute;
			bottom: 0;
			right: 0;

			background-color: transparent;
			border: none;

			padding: calc($margin / 2);

			cursor: pointer;

			.favorite {
				transform: rotate(72deg);
			}

			svg {
				fill: $yellow;
				height: 20px;

				transition: all 100ms ease-in-out;

				&:hover {
					transform: rotate(36deg);
				}

				&:not(.favorite):active {
					transform: rotate(72deg);
				}
			}
		}
	}
}

.landing-page {
	> * {
		p {
			font-size: 2.5rem;
		}
	}
}

.main-title {
	text-align: center;
	margin-bottom: calc($margin / 2);

	color: $black;
	text-shadow: $yellow-stroke-ie;

	h1 {
		font-size: 3rem;
		height: 3.2rem;
	}

	h2 {
		font-size: 2rem;
	}
}

.cards-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: $margin;
	text-align: center;

	> * {
		transform: scale(1.005);

		transition: all 200ms ease-in-out;
		overflow: hidden;
		border-radius: $corner-radius;
		box-shadow: $yellow-glow;

		background-image: repeating-linear-gradient(
			0deg,
			transparent,
			transparent 5px,
			rgba(77, 172, 220, 0.6) 10px,
			rgba(77, 128, 230, 0.6) 15px
		);

		background-size: 100% 150%;

		animation: hologram-animation 8s linear infinite;

		&:nth-child(2n + 1) {
			animation-delay: -3s;
		}
		&:nth-child(3n + 8) {
			animation-delay: -5s;
		}
		&:nth-child(5n - 3) {
			animation-delay: -7s;
		}
		&:nth-child(7n + 3) {
			animation-delay: -2s;
		}

		&:hover,
		&:focus,
		&:active {
			transform: translate(0px, 4px) scale(1);
			box-shadow: $no-glow;
		}

		&:hover img,
		&:focus img,
		&:active img {
			filter: $no-overlay;
			transform: scale(1.05) rotate(0);
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		img {
			width: 100%;
			object-fit: cover;
			transform: scale(1.1) rotate(1deg);

			transition: all 200ms ease-in-out;

			filter: $black-overlay;
		}

		p {
			position: absolute;
			color: $black;
			text-shadow: $yellow-stroke-ie;
			text-transform: capitalize;
		}
	}
}

.details-container {
	background-color: $background-gray;
	border-radius: $corner-radius;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	color: white;

	.details {
		display: flex;
		flex-direction: column;
		padding: $margin;
		gap: calc($margin / 2);

		.details-title {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			gap: calc($margin / 2);
			justify-content: center;

			h2,
			p {
				text-transform: capitalize;
			}
			p {
				padding: 4px 8px;
				border: 1px solid $yellow;
				border-radius: $corner-radius;
				color: $yellow;
			}
		}

		&:not(details-title) {
			font-weight: 400;
		}
	}

	img {
		width: 100%;
		aspect-ratio: 3/2;
		object-fit: cover;
		object-position: top center;
	}

	button {
		background-color: transparent;
		border: none;

		cursor: pointer;

		.favorite {
			transform: rotate(72deg);
		}

		svg {
			fill: $yellow;
			height: 20px;

			transition: all 100ms ease-in-out;

			&:hover {
				transform: rotate(36deg);
			}

			&:not(.favorite):active {
				transform: rotate(72deg);
			}
		}
	}
}

.more-details {
	background-color: $background-gray;
	border-radius: $corner-radius;
	padding: $margin;
	margin-top: $margin;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: $margin;
	color: $white;

	h4,
	p {
		text-transform: capitalize;
		text-align: center;
	}

	p {
		font-weight: 400;
	}
}

.profile-view {
	display: grid;
	gap: $margin;

	.profile {
		display: flex;
		flex-direction: column;
		gap: calc($margin / 2);

		align-items: center;

		.profile-title {
			display: flex;
			gap: calc($margin / 2);
			align-items: baseline;

			button {
				background-color: transparent;
				border: none;
				cursor: pointer;
				padding: 0;
			}

			svg {
				fill: $yellow;
				height: calc($margin / 2);
				width: calc($margin / 2);
				transition: all 100ms ease-in-out;

				&:hover {
					transform: scale(0.9);
				}
			}
		}

		.favorites {
			display: flex;
			flex-direction: column;
			gap: calc($margin / 2);
			align-items: center;
		}
	}

	.friends {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: calc($margin / 2);
		align-self: flex-start;
		background-color: $background-gray;
		color: $white;

		padding: $margin;
		border-radius: $corner-radius;

		button {
			background-color: transparent;
			border: none;
			cursor: pointer;
			padding: 0;
		}

		.red {
			fill: red;
		}

		.green {
			fill: green;
		}

		svg {
			height: calc($margin / 2);
			width: calc($margin / 2);
			transition: all 100ms ease-in-out;

			&:hover {
				transform: scale(0.9);
			}
		}

		p,
		a {
			font-weight: 400;
		}

		table {
			width: 100%;
			tr {
				.button {
					width: calc($margin / 2);
				}
				a {
					color: $white;
					text-decoration: none;
					cursor: pointer;
					display: inline-block;

					transition: all 100ms ease-in-out;

					&:hover {
						transform: scale(0.9);
					}
				}
			}
		}

		input,
		.id-button {
			height: $margin;
			width: 15rem;
			border-radius: $corner-radius;
			text-align: center;
			background-color: $background-gray;
			border: 1px solid $yellow;
			padding: 0;
			color: $white;
		}

		input:focus {
			outline: none;
		}

		.id-button {
			transition: all 100ms ease-in-out;

			&:hover {
				transform: scale(0.9);
			}
		}
	}
}

footer {
	flex-shrink: 0;
	padding: $margin;
	text-align: center;
	color: $white;
	font-weight: 300;
}

@keyframes hologram-animation {
	from {
		background-position: top;
	}
	to {
		background-position: bottom;
	}
}

@media only screen and (min-width: $big-screen) {
	.cards-container {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.landing-page {
		> * {
			width: clamp(320px, 32%, 1200px);
		}
	}

	.main-title {
		h1 {
			font-size: 4rem;
			height: 4.5rem;
		}
	}

	.details-container {
		flex-direction: row;
		flex-wrap: nowrap;

		.details .details-title {
			justify-content: left;
		}

		img {
			width: 50vw;
		}
	}

	.profile-view {
		grid-template-columns: 3fr 1fr;
	}
}
