$yellow: #ffe81f;
$black: #000000;
$white: #ffffff;
$background-gray: rgba(30, 32, 35, 0.9);

$big-margin: 40px;
$small-margin: calc($big-margin / 2);

$yellow-glow: 0px 4px 8px 0px rgba($yellow, 0.5);
$no-glow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

$black-overlay: brightness(60%);
$no-overlay: brightness(100%);

$yellow-stroke-ie: -1px -1px 0 $yellow, 1px -1px 0 $yellow, -1px 1px 0 $yellow, 1px 1px 0 $yellow,
	-1px 0px 0 $yellow, 1px 0px 0 $yellow, 0px 1px 0 $yellow, 0px -1px 0 $yellow;
$yellow-stroke: 1px $yellow;

$corner-radius: 20px;

$stars-background: url('../../assets/images/stars.webp');

$big-screen: 800px;
