.landing-card {
	position: absolute;
	border: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 500px;
}

.landing-card > p {
	color: white;
}

.vehicles-landing-card {
	background-image: url('https://lumiere-a.akamaihd.net/v1/images/screen_shot_2015-05-26_at_5_16a39e17.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.characters-landing-card {
	background-image: url('https://lumiere-a.akamaihd.net/v1/images/admiral-raddus-main_33194c80.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.planets-landing-card {
	background-image: url('https://lumiere-a.akamaihd.net/v1/images/image_7f322dba.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.router-link {
	height: 300px;
	width: 500px;
	margin: 20px;
	border-radius: 20px;
}

.no-text-decoration {
	text-decoration: none;
}
